@import "../variables";

button {

  &.primary-button {
    background-color: $primary;
    color: $text-on-primary;
    padding: 0;
    height: 40px;
    border-radius: 10px;
    border-color: #4199D5;
    border: 1px solid $primary;
    cursor: pointer;
    font-size: 18px;
    margin-top: 60px;
    box-shadow: none;
    outline: 0 !important;
    width: 100%;
    transition: all 200ms ease-in;

    &:hover {
      &:not([disabled]) {
        background: $primary-dark;
        border: 1px solid $primary-dark;
      }

    }

    &[disabled] {
      opacity: .5;
    }
  }

  &.accent-button {
    background-color: #E6E7E8;
    color: #4199D5;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-color: #E6E7E8;
    border: 2px solid darken(#E6E7E8, 5%);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}
