.containerNotes {
  min-height: 70vh;
}

.btnNotes {
  background-color: #E6E7E8;
  color: #4199D5;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-color: #E6E7E8;
  border-radius: 10px;
}

h2 {
  color: #707070
}
