.home__page {
  min-height: 78vh;
  display: flex;
  flex-direction: column;
  margin: 20px;

  header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 30px;
  }



}
