@import "../components/buttons";
@import "../components/inputs";
@import "../variables";

.container__Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 95vh;
  overflow-y: hidden;
  overflow-x: hidden;

  .logo {
    aspect-ratio: 16/9;
    max-width: 600px;
  }

  .error__section {
    margin-top: 5px;
    height: 30px;
    color: red;
  }

  .login__form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;

    form {
      width: 100%;
      display: flex;
      grid-gap: 15px;
    }

    button.primary-button {
      margin: auto;

      width: 80%;
    }

    .login-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
    }

    .icon {
      width: 20px;
      height: 20px;
    }

    a:link {
      cursor: pointer;
      color: #c8c6c6;
      text-decoration: none;
      font-size: 18px;
    }

    .login-google {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin: 30px;
      font-size: 18px;
    }

    .link-signUp {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      font-size: 18px;

      p {
        color: $text-on-secondary;
      }
    }

  }
}
