@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 90vh;
  min-width: 80%;
  line-height: 10px; }

.root {
  min-height: 90vh;
  min-width: 95vh; }

.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 95vh;
  overflow-y: hidden;
  overflow-x: hidden; }

.logo {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0;
  padding: 0%;
  cursor: pointer; }

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 90%; }

.icon {
  width: 20px;
  height: 20px; }

a:link {
  cursor: pointer;
  color: #c8c6c6;
  text-decoration: none;
  font-size: 18px; }

.login-google {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: 18px; }

.link-signUp {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px; }

.footer {
  color: #707070;
  display: flex;
  justify-content: center;
  font-size: 11px; }

button.primary-button {
  background-color: #4199D5;
  color: #e6e7e8;
  padding: 0;
  height: 40px;
  border-radius: 10px;
  border-color: #4199D5;
  cursor: pointer;
  font-size: 18px;
  margin-top: 60px;
  width: 505px; }

input {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  border-color: #A6A9B6;
  border-top: 2px solid #A6A9B6;
  border-left: 2px solid #A6A9B6;
  outline: none;
  height: 50px;
  color: #707070;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  input:focus, input:hover {
    border-color: #4199D5; }

.containerSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 95vh;
  overflow-y: hidden;
  overflow-x: hidden; }

.signUp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0%; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0;
  padding: 0%;
  cursor: pointer; }

.form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  width: 90%; }

a:link {
  cursor: pointer;
  text-decoration: none; }

.footer {
  color: #707070;
  display: flex;
  justify-content: center; }

.containerNotes {
  min-height: 70vh; }

.btnNotes {
  background-color: #E6E7E8;
  color: #4199D5;
  width: 150px;
  border-color: #E6E7E8; }

.home__page .container__notes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }
  .home__page .container__notes .card {
    border: 1px solid #4199D5;
    width: 200px;
    cursor: pointer; }
    .home__page .container__notes .card .card__actions {
      display: none; }
    .home__page .container__notes .card:hover .card__actions {
      display: block; }

.containerFooter {
  display: flex;
  justify-content: center; }

.footer {
  color: #707070;
  display: flex;
  justify-content: center;
  font-size: 11px; }

.navBar {
  height: 100px;
  background-color: #E6E7E8;
  width: 100%; }

.logout {
  background-color: #4199D5;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.textlogout {
  display: flex;
  margin-right: 30px;
  color: white;
  cursor: pointer;
  align-items: center;
  gap: 10px; }

.logoNav {
  height: 100%; }

link {
  color: white; }
