ul.my-notes li {
  background: $note-three;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
  .card__content {
    text-decoration: none;
    color: #000;
    z-index: 1;
    display: block;
    height: 10em;
    width: 220px;
    padding: 1em;
    overflow-wrap: break-word;
    line-height: 1;
  }

  &:hover,
  &:focus {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: transform 300ms linear;
    position: relative;

    .card__content {
      transform: none !important;
      transition: transform 300ms linear;
    }

  }
}
