ul.my-notes {
  li {
    &:nth-child(even) {

      transform: rotate(4deg);
      position: relative;
      top: 5px;
      background: $note-one;

    }

    &:nth-child(3n) {

      transform: rotate(-3deg);
      position: relative;
      top: -5px;
      background: $note-two;

    }

    &:nth-child(5n) {

      transform: rotate(5deg);
      position: relative;
      top: -10px;

    }
  }
}
