$primary: #4199D5;
$primary-light: #7bcaff;
$primary-dark: #006ba3;
$secondary: #f3e65d;
$secondary-light: #ffff8f;
$secondary-dark: #beb429;
$text-on-primary: #e6e7e8;
$text-on-secondary: #707070;
$note-one: #cfc;
$note-two: #ccf;
$note-three: #ffc;
$gray-base-color: #000000;
$gray-darker-color: #333333;
$gray-dark-color: #5E5F5C;
$gray-color: #82837F;
$gray-light-color: #E4E5DC;
$gray-lighter-color: #F0F0F0;
